.ex1 {
    background-color: lightblue;
    width: 150px;
    height: 100px;
  

    /*write complete code using 'overflow' attribute */
    overflow: hidden;
  }

div {
    background: tomato;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;

    
}

.container {
    background: black;
    /* position: relative; */
    top: 50px;
    left: 50px;
} 
#box {
    background: aqua;
    top: 20px;
    left: 20px;
    width: 100px;
    

    /*write complete code using 'position' attribute */
    position: sticky;
}